{% extends "base.html" %}
{% load static %}
{% block head %}
{% block title %}About{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- <img id="me" src="{% static 'portfolio_app/images/me.jpg' %}" alt=""> -->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}