{% extends "base.html" %}
{% block head %}
{% block title %}Contact{% endblock %}
{% endblock %}

{% block content %}
<legend><h1 class="page-title">Contact</h1></legend>
<form action="{% url 'portfolio_app:contact' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <input type="text" name="name" id="name" class="contact" placeholder="Name">
        <input type="email" name="email" id="email" class="contact" placeholder="Email">
        <input type="textarea" name="message" id="message" class="contact" placeholder="Message">
    </fieldset>
    <input type="submit" class="contact" id="submit" value="submit">
</form>
{% endblock %}

{% block script %}
{% endblock %}